body {
  background-image: url("../images/raybear_shrunk.png");
  background-color: #c0c0c0;
  background-position-x: 24px;
  background-position-y: -12px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #333;
}

h1,h2,h3,h4,h5 {
  margin: 8px 4px 8px 4px;
}

div.main {
  margin-top: 48px;
  text-align: center;
}

img.framed {
  border: 8px double #666;
}
