body {
  background-image: url("../images/raybear_shrunk.png");
  background-color: #ddd;
  background-position-x: 24px;
  background-position-y: -12px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #666;
}

h1,h2,h3,h4,h5 {
  margin: 6px 0px 6px 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #111;
}

div.row {
  margin-bottom: 48px;
}

div.container {
  text-align: center;
}

div.main {
  margin-top: 48px;
}

div.menu {
  margin-bottom: 6px;
}

img.framed {
  width: 90%;
  border: 8px double #666;
}

div.beers {
  text-align: justify;
}

div.about p {
  text-align: justify;
}

div.beers span.small {
  font-size: 0.6em;
}

div#dialog {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  background-color: #ddd;
  border: 4px solid #333;
  padding: 64px 24px 64px 24px;
  text-align: center;
}

div#dialog a {
  cursor: pointer;
}

@media (min-width: 550px){
  body {
    background-position-x: 48px;
    background-position-y: 24px;
    background-size: 400px;
  }

  div#dialog {
      width: 50%;
      padding-top: 84px;
      padding-bottom: 84px;
  }

  img.framed {
    width: 70%;
  }
}
